![](https://www.saturdays.ai/images/logo.png)


### Nivel 1 Beginner
El nivel principiante es para alguien que su primera vez en un curso introductorio de Python. Puedes resolver algunos problemas con 1 o 2 clases o funciones de Python. Normalmente, las respuestas podrían encontrarse directamente en los libros de texto.

### Nivel 2 Intermediate
El nivel intermedi es para alguien que acaba de aprender Python, pero que ya tiene una experiencia de programación relativamente fuerte de antes. Deberías ser capaz de resolver problemas que pueden implicar  3 clases o funciones de Python. Las respuestas ya no se pueden encontrar directamente en los libros de texto.

### Pregunta 1
Nivel 1

Enunciado: Escriba un programa que encuentre todos esos números que son divisibles por 7 pero no son un múltiplo de 5, entre 2000 y 3200 (ambos incluidos). Los números obtenidos deben ser impresos en una secuencia separada por comas en una sola línea.




Pista: Considera usar el método range(#begin, #end)

In [ ]:
listaNums = []
for n in range(2000,3200):
  if n % 7 == 0 and n % 5 != 0:
  	listaNums.append(n)

for n in listaNums:
  if n < listaNums[-1]:
    print(n, end=", ")
  else:
    print(n)

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

#### Solución

In [ ]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Pregunta 2
Nivel 1

Enunciado: Escribir un programa que pueda calcular el factorial de un número dado. Los resultados deben imprimirse en una secuencia separada por comas en una sola línea. Supongamos que se suministra la siguiente entrada al programa: 8 Entonces, la salida debe ser: 40320

Pista: En caso de que se suministren datos de entrada a la pregunta, debe asumirse que se trata de una entrada de consola.

In [ ]:
num = int(input("Introduce un número: "))

resultado = num
for n in range(num, 1, -1):
   resultado = resultado * (n - 1)
print("Resultado: ", resultado)

Introduce un número: 8
Resultado:  40320

#### Solución

In [ ]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input())
print(fact(x))

8
40320

### Pregunta 3
Nivel 1

Enunciado: Con un número entero n dado, escribe un programa para generar un diccionario que contenga (i, i*i) tal que sea un número entero entre 1 y n (ambos incluidos). Luego el programa debe imprimir el diccionario. Supongamos que se suministra la siguiente entrada al programa: 8 Entonces, la salida debe ser: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Pista: En caso de que se suministren datos de entrada a la pregunta, debe asumirse que se trata de una entrada de consola. Considere el uso de dict()

In [ ]:
# Programa que genera un diccionario (i,i*i)

def generaDiccionario(pNum):
  # Declaramos un diccionario
  d = {}
  # Recorremos los números de 1 a n
  for n in range(pNum+1):
    d[n] = n*n
  return d

# Escribimos un número entero n
num = int(input("Introduce un número para generar un diccionario (i, i*i): "))

print(generaDiccionario(num))

Introduce un número para generar un diccionario (i, i*i): 8
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

#### Solución

In [ ]:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i

print(d)

3
{1: 1, 2: 4, 3: 9}

###Pregunta 4
####Nivel 1

Enunciado: Pregunta: Escriba un programa que acepte una secuencia de números separados por comas desde la consola y genere una lista y una tupla que contenga cada número. Supongamos que la siguiente entrada es suministrada al programa: 34,67,55,33,12,98 Entonces, la salida debe ser: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Pista: En caso de que se suministren datos de entrada a la pregunta, debe asumirse que se trata de una entrada de consola. El método tuple() puede convertir la lista en tuple

In [ ]:
numsCommas = input("Introduce una secuencia de números separados por comas: ")

listaNums = numsCommas.split(",")
tuplaNums = tuple(listaNums)

print(listaNums)
print(tuplaNums)

Introduce una secuencia de números separados por comas: 8,8,8
['8', '8', '8']
('8', '8', '8')

#### Solución

In [ ]:
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

3
['3']
('3',)

### Pregunta 5
#### Nivel 1
Enunciado: Define una clase que tiene al menos dos métodos: getString: para obtener una cadena de la entrada de la consola printString: para imprimir la cadena en mayúsculas. También incluye una función de prueba simple para probar los métodos de la clase.



Pista: Usar el método init para construir algunos parámetros

In [ ]:
class PruebasString:
   def __init__(self, cadena):
      self.cadena = cadena
   def getString(self):
      return self.cadena
   def printString(self):
      print(self.cadena.upper())

In [ ]:
pruebasString = PruebasString("CaDeNa")
print(pruebasString.getString())
pruebasString.printString()

CaDeNa
CADENA

#### Solución

In [ ]:
class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()
    
    def printString(self):
        print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

hola
HOLA

### Pregunta 6
#### Nivel 1
Enunciado: Escriba un programa que calcule e imprima el valor según la fórmula dada: Q = Raíz cuadrada de [(2 * C * D)/H] A continuación los valores fijos de C y H: C es 50. H es 30. D es la variable cuyos valores deben ser introducidos en su programa en una secuencia separada por comas. Ejemplo Supongamos que la siguiente secuencia de entrada separada por comas se da al programa: 100,150,180 La salida del programa debe ser: 18,22,24

Pista: Si la salida recibida está en forma decimal, debe redondearse a su valor más cercano (por ejemplo, si la salida recibida es 26,0, debe imprimirse como 26).

In [2]:
import math

In [24]:
# Q = Raíz cuadrada de [(2 * C * D)/H]
C = 50
H = 30
# D es la variable cuyos valores deben ser introducidos en su programa en una secuencia separada por comas
DCommas = input("Introduce una secuencia de números separados por comas: ")

D = DCommas.split(",")

DInt = []
salida = ""
for i in D:
  DInt.append(int(i))

lRes = []
for i in DInt:
  Q = math.floor(math.sqrt((2*C*i)/H))
  lRes.append(str(Q))
print(",".join(lRes))

Introduce una secuencia de números separados por comas: 100,150,180
18,22,24

#### Solución

In [26]:
import math
c=50
h=30
value = []
items=[x for x in input().split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

100,150,180
18,22,24